.container-conteudo .container-left-contato{
    width: 45%;
}

img{
    width: 700px;
    height: 935px;
}


.container-conteudo .container-right-contato .form-contato h2 {   
    margin-top: 200px;
    font-size: 100px;
    
}

.container-conteudo .container-right-contato p{   
    
    font-size: 30px;
    line-height: 100px;
  
}









