
.form-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.form {
    background-color: #d9d9d9;
    padding: 30px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}

.form h1 {
    padding: 10px 0;
}

.form input {
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
}

.form .btn-form {
    margin-top: 15px;
    padding: 10px;
    width: 160px;
    background-color: #5ce1e6;;
    cursor: pointer;
    border-radius: 30px;
}
