.form-job {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.form-job form {
    width: 500px;
}

.linha-form{
    margin-bottom: 20px;
}

.form-job form input,
textarea {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    word-wrap: break-word;
    word-break: break-word;
}

.form-job form textarea {
    height: 100px
}


.form-job button {
    height: 50px;
    width: 150px;
    outline: none;
    background-color: #5ce1e6;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}